@charset"utf-8";

body {
  margin: 0;
  text-align:center;
  background:lightgray;
}

header {
  margin: 0 auto;
  width: 600px;
  height: 200px;
  background: url(https://github.com/Jonosuke08/mysite/blob/main/IMG_2097.JPG?raw=true) center/cover brown;
  border-radius:60px;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 40px;
  line-height:100px;
}


img {
  margin:16px  0;
  width: 300px;
  height: 250px;
  border-radius: 50%;
}

h3 {
  width: 150px;
  margin: 0 auto;
  border-bottom:2px dashed black;
  font-size: 14px;
}

.name{
  width: 200px;
  margin: 0 auto;
  
}
p{
  display:inline;
}
.introduction{
  margin:16px auto;
  width :200px;
   border:2px solid black;
   border-radius:50%;
}
table{
  margin:16px auto;
  width:600px;
  border-collapse:collapse;
}
th{
  border:2px solid black;
  background:gray;
}
td{
  border:2px solid black;
}